.wrapper-new-collection {
    background-color: #e9f0fd;
}

.new-collection {
    padding-top: 101px;
}

.title {
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.title::after {
    content: '';
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
}

.card {
    float: left;
    margin-right: 30px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    
}

.card:last-child {
    margin-right: 0;
}

.name {
    position: absolute;
    height: 40px;
    background-color: #323232;
    bottom: 4px;
    width: 201px;
    color: #ffffff;
    padding: 11px 52px 13px 13px;
}

.price {
    position: absolute;
    height: 40px;
    bottom: 4px;
    width: 54px;
    background-color: #8c8c8c;
    right: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    padding: 4px 11px;
}

.price::before {
    content: '\0024';
    display: block;
    float: left;
}

.wrapper-view {
    position: absolute;
    width: 235px;
    height: 261px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 11px 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: none;
    
}

.card:hover .wrapper-view {
    cursor: pointer;
    display: block;
    
}

.card:hover .name {
    cursor: pointer;
    background-color: #1abc9c;
    
}

.card:hover .price {
    cursor: pointer;
    background-color: #7fd9c7;
    
}

.knobs-list {
    position: absolute;
    top: 50%;
    right: 50%;
}

.knob-item a:hover {
    cursor: pointer;
    background-color: #1abc9c;
    border: #1abc9c;
    transition: 0.3s;
}



.knob-link-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background-image: url('/img/like.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transform: translate(-50%, -100%);
    margin-right: 9px;
}

.knob-link-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/img/share.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transform: translate(-50%, -100%);
}

.knob-link-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/img/clock.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    transform: translate(68%, -100%);
    margin-bottom: 7px;
}

.add {
    background-image: url('/img/add.png');
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 20px;

}

.add {
    position: absolute;
    outline: none;
    color: white;
    vertical-align: center;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    width: 168px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 14%);
}

.add:hover {
    cursor: pointer;
    background-color: #323232;
    transition: 0.3s;
}